<div class="profile-card">
  <div class="avatar-name">
    <img
      src="/assets/images/avatarGeralt.png"
      alt="avatar"
      class="profile-card__avatar"
    />
    <div class="profile-card__name">
      <strong class="h6">Geralt from Rivia</strong>
      <span>Witcher</span>
    </div>
  </div>
  <div class="profile-card-description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo ratione, vero
    vel dolor velit quod quidem nobis ipsa ea inventore modi nam, porro labore
    alias ipsum fuga provident neque. Animi!
  </div>
  <div class="profile-card__tags">
    <div class="skill-tag">Angular</div>
    <div class="skill-tag">HTML</div>
    <div class="skill-tag">CSS</div>
    <div class="skill-tag">GIT</div>
  </div>
  <div class="profile_card__action-buttons">
    <div class="btn btn">Subscribe</div>
  </div>
</div>
